<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":1},{"col":2,"row":1},{"col":1,"row":2}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 4
});
</script>


<% content_for(:title) { "kgb dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="thermostat_info" data-view="Text" data-title="Current House Temp" data-text="This is my shiny new home automation dashboard." data-moreinfo="Thermostat not found on the network!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #todayilearned"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
</div>
